{
	"semi": false,
	"singleQuote": true,
	"tabWidth": 2,
	"trailingComma": "all",
	"printWidth": 80,
	"arrowParens": "always",
	"endOfLine": "lf",
	"bracketSpacing": true,
	"jsxBracketSameLine": false,
	"jsxSingleQuote": true,
	"quoteProps": "as-needed",
	"useTabs": true,
	"htmlWhitespaceSensitivity": "css"
}
